/* sarabun-regular - thai */
@font-face {
  font-family: 'sarabunregular';
  font-style: normal;
  font-weight: 400;
  src: url('sarabun-v8-thai-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('sarabun-v8-thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('sarabun-v8-thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('sarabun-v8-thai-regular.woff') format('woff'), /* Modern Browsers */
       url('sarabun-v8-thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('sarabun-v8-thai-regular.svg#Sarabun') format('svg'); /* Legacy iOS */
}
